<!--{% extends 'base.html' %}-->

<!--{% block content %}-->
<html>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="panel panel-default" style="margin:10px;">
  <div style="margin:10px;">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Upload</button>

  </form>

  <p>This photo should satisfact the next requirements:</p>
  <ul>
    <li>
      <input type="checkbox" name="ClosedEyes" Value="Closed Eyes">
      Closed Eyes
    </li>
    <li>
      <input type="checkbox" name="Mouth Closed" Value="Mouth Closed">
      Mouth Closed
    </li>
    <li>
      <input type="checkbox" name="Good Luminosity" Value="Good Luminosity">
      Good Luminosity
    </li>
    <li>
      <input type="checkbox" name="Face discovered" Value="Face discovered">      
      Face discovered
    </li>
    <li>
      <input type="checkbox" name="Hight Pixelization" Value="Hight Pixelization">      
      Hight Pixelization
    </li>
  </ul>

    <table></table>
        <p><a class="btn btn-sm btn-primary" href="{% url 'home' %}">Back</a></p>
    </table>

  </div>
</div>
</body>
</html>
<!--{% endblock %}-->